<body>
<form action="/" method="POST">
  <fieldset>
    <legend>Add to log</legend>
    <p>
      Message:
      <textarea name="message"></textarea>
    </p>
    <p>
      <input type="submit" value="SEND" />
    </p>
  </fieldset>
</form>
</body>